@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

.hide-scrollbar {
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}

/* Set a fixed height for the form section containing input fields  */
.scrollable-form {
  max-height: 500px;  
  overflow-y: auto;  
  scrollbar-width: thin;  
  scrollbar-color: transparent transparent;  
}

 
.scrollable-form::-webkit-scrollbar {
  width: 0px;  
}

.scrollable-form:hover::-webkit-scrollbar {
  width: 8px; 
} 

.scrollable-form::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;
}

.scrollable-form::-webkit-scrollbar-thumb:hover {
  background-color: #555;   
}

